.App {
  text-align: center;
}

.App-logo {
  max-height: 100vh;
  max-width: 100vh;
  width: auto;
  height: auto;
}

.App-header {
  background-color: #010101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}